# <font color='#2F4F4F'>1. Defining the Question</font>

## a) Specifying the Data Analysis Question

What is the question or problem you are trying to solve?

<!-- Prediction if a loan will be paid off to manage defaults and non-performing loans -->

## b) Defining the Metric for Success

How will you know your project has succeeded?

In [ ]:
# Accurate prediction of repayment status of applied loans to guide whether to continue to issue or decline the loan application

## c) Understanding the context 

What is the background information surrounding the research question?

In [ ]:
# Use historical data to create prediction model for propensity for an applied loan repayment

## d) Recording the Experimental Design

What steps will you take to answer the research question?

## e) Data Relevance

Is the data provided relevant to the research question?

# <font color='#2F4F4F'>2. Data Cleaning & Preparation</font>

In [1]:
# load libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option("display.max.columns", None)
pd.set_option("display.max_colwidth", None)

In [3]:
# load dataset
df = pd.read_csv('https://bit.ly/KoppoKoppoDS')
df.head(3)

,Selected,LoanNr_ChkDgt,Name,Zip,ICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv,New,RealEstate,Portion,daysterm,xx,Default
0,0,1004285007,SIMPLEX OFFICE SOLUTIONS,92801,532420,15074,2001,36,1,1.0,0,0,1,0,Y,N,NaN,15095.0,32812,0,P I F,0,30000,15000,0,0,0.5,1080,16175.0,0
1,1,1004535010,DREAM HOME REALTY,90505,531210,15130,2001,56,1,1.0,0,0,1,0,Y,N,NaN,15978.0,30000,0,P I F,0,30000,15000,0,0,0.5,1680,17658.0,0
2,0,1005005006,"Winset, Inc. dba Bankers Hill",92103,531210,15188,2001,36,10,1.0,0,0,1,0,Y,N,NaN,15218.0,30000,0,P I F,0,30000,15000,0,0,0.5,1080,16298.0,0

In [7]:
# Check data types
df.dtypes

Selected               int64
LoanNr_ChkDgt          int64
Name                  object
Zip                    int64
ICS                    int64
ApprovalDate           int64
ApprovalFY             int64
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate           float64
DisbursementDate     float64
DisbursementGross      int64
BalanceGross           int64
MIS_Status            object
ChgOffPrinGr           int64
GrAppv                 int64
SBA_Appv               int64
New                    int64
RealEstate             int64
Portion              float64
daysterm               int64
xx                   float64
Default                int64
dtype: object

In [ ]:
# load glossary
glossary = pd.read_csv('Koppokoppo - Glossary - t0001-10.1080_10691898.2018.1434342 (1).csv')
glossary

From what I can tell, our target variable is 'MIS_Status' as it can help us identify whether a loan is likely to be paid (PIF = paid in full) or not (CHGOFF = chargeoff).

Using the glossary, we will remove the following variables either because they are not needed or because their definitions are not included in the glossary:
- Selected
- LoanNr_ChkDgt
- Name
- New
- RealEstate
- Portion
- daysterm
- xx
- Default

In [8]:
# dropping unneeded columns
df = df.drop(columns = ['Selected', 'LoanNr_ChkDgt', 'Name', 'New', 'RealEstate', 
                        'Portion', 'daysterm', 'xx', 'Default'])
df.shape

(2102, 21)

In [9]:
# dropping duplicates, if any
df.drop_duplicates(inplace = True)
df.shape

(2102, 21)

In [10]:
# checking for missing values
df.isnull().sum()

Zip                     0
ICS                     0
ApprovalDate            0
ApprovalFY              0
Term                    0
NoEmp                   0
NewExist                1
CreateJob               0
RetainedJob             0
FranchiseCode           0
UrbanRural              0
RevLineCr               2
LowDoc                  3
ChgOffDate           1405
DisbursementDate        3
DisbursementGross       0
BalanceGross            0
MIS_Status              0
ChgOffPrinGr            0
GrAppv                  0
SBA_Appv                0
dtype: int64

'ChgOffDate' has missing values for more than half of the records so we will drop that variable. As for the rest of the variables with missing values, we will remove only the records that have null values.

In [11]:
df.drop(columns = ['ChgOffDate'], inplace = True)

df.dropna(inplace = True)
df.isna().sum()

Zip                  0
ICS                  0
ApprovalDate         0
ApprovalFY           0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
RevLineCr            0
LowDoc               0
DisbursementDate     0
DisbursementGross    0
BalanceGross         0
MIS_Status           0
ChgOffPrinGr         0
GrAppv               0
SBA_Appv             0
dtype: int64

In [12]:
# check datatypes
df.dtypes

Zip                    int64
ICS                    int64
ApprovalDate           int64
ApprovalFY             int64
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
DisbursementDate     float64
DisbursementGross      int64
BalanceGross           int64
MIS_Status            object
ChgOffPrinGr           int64
GrAppv                 int64
SBA_Appv               int64
dtype: object

In [13]:
# changing the 'ApprovalDate' and 'DisbursementDate' variables to datetime
df['ApprovalDate'] = pd.to_datetime(df['ApprovalDate'], unit = 'd')
df['DisbursementDate'] = pd.to_datetime(df['DisbursementDate'], unit = 'd')
df.head()

,Zip,ICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,92801,532420,2011-04-10,2001,36,1,1.0,0,0,1,0,Y,N,2011-05-01,32812,0,P I F,0,30000,15000
1,90505,531210,2011-06-05,2001,56,1,1.0,0,0,1,0,Y,N,2013-09-30,30000,0,P I F,0,30000,15000
2,92103,531210,2011-08-02,2001,36,10,1.0,0,0,1,0,Y,N,2011-09-01,30000,0,P I F,0,30000,15000
3,92108,531312,2013-01-14,2003,36,6,1.0,0,0,1,0,Y,N,2013-01-31,50000,0,P I F,0,50000,25000
4,91345,531390,2016-02-09,2006,240,65,1.0,3,65,1,1,0,N,2016-04-12,343000,0,P I F,0,343000,343000

In [14]:
# our datetime conversion is 10 years ahead. We'll offset this
df['ApprovalDate'] = df['ApprovalDate'] - pd.DateOffset(years = 10)
df['DisbursementDate'] = df['DisbursementDate'] - pd.DateOffset(years = 10)
df.head()

,Zip,ICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,92801,532420,2001-04-10,2001,36,1,1.0,0,0,1,0,Y,N,2001-05-01,32812,0,P I F,0,30000,15000
1,90505,531210,2001-06-05,2001,56,1,1.0,0,0,1,0,Y,N,2003-09-30,30000,0,P I F,0,30000,15000
2,92103,531210,2001-08-02,2001,36,10,1.0,0,0,1,0,Y,N,2001-09-01,30000,0,P I F,0,30000,15000
3,92108,531312,2003-01-14,2003,36,6,1.0,0,0,1,0,Y,N,2003-01-31,50000,0,P I F,0,50000,25000
4,91345,531390,2006-02-09,2006,240,65,1.0,3,65,1,1,0,N,2006-04-12,343000,0,P I F,0,343000,343000

In [15]:
# extracting the year in 'DisbursementDate'
df['DisbursementDate'] = pd.DatetimeIndex(df['DisbursementDate']).year
df.head()

,Zip,ICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,92801,532420,2001-04-10,2001,36,1,1.0,0,0,1,0,Y,N,2001,32812,0,P I F,0,30000,15000
1,90505,531210,2001-06-05,2001,56,1,1.0,0,0,1,0,Y,N,2003,30000,0,P I F,0,30000,15000
2,92103,531210,2001-08-02,2001,36,10,1.0,0,0,1,0,Y,N,2001,30000,0,P I F,0,30000,15000
3,92108,531312,2003-01-14,2003,36,6,1.0,0,0,1,0,Y,N,2003,50000,0,P I F,0,50000,25000
4,91345,531390,2006-02-09,2006,240,65,1.0,3,65,1,1,0,N,2006,343000,0,P I F,0,343000,343000

In [16]:
# drop 'ApprovalDate' since it is no longer needed
df.drop(columns = ['ApprovalDate'], inplace = True)

In [17]:
# check unique values in each variable to ensure there is no inconsistency
my_cols = df.columns.to_list()

for col in my_cols:
    print("Variable:", col)
    print("Number of unique values:", df[col].nunique())
    print(df[col].unique())
    print()

Variable: Zip
Number of unique values: 810
[92801 90505 92103 92108 91345 95831 90255 90808 92704 94583 91360 94103
 95746 91354 95965 91505 94550 92101 95695 91356 92507 90662 91604 94080
 90305 95030 94901 94707 95037 91208 95630 93610 92656 92545 92708 92868
 92307 93274 93546 92590 92301 91941 91789 92831 92648 92083 91730 94117
 93611 92260 94931 92701 95945 92688 92887 95628 91502 93604 91221 94070
 92879 94526 92115 90210 93010 94546 92807 91301 92056 91311 92130 90036
 94588 91607 90504 91914 92173 90274 90006 92649 90016 90242 91030 91780
 94706 94115 94519 93906 91606 92612 91201 90010 95521 92084 92627 91342
 91364 92411 95337 90211 90266 95678 91601 94523 91709 92553 91776 95010
 92549 90201 94606 90631 92110 92544 92234 90004 90293 90303 92883 91106
 92501 91303 92404 93433 94104 95821 95621 93905 94510 93654 90039 92630
 95603 92009 91762 91362 92660 92026 94541 90706 95361 94089 92504 94301
 92653 95677 95825 90025 90063 95128 95123 94111 92663 93060 91205 92408
 90606 90046 95212 92109 94108 95814 90020 92509 92336 92562 91773 91402
 90005 95842 94023 90041 92832 91764 91506 93021 94124 90806 93619 91390
 92833 90212 94805 90241 92106 94574 90249 93140 94536 94577 91733 94133
 95928 95826 95540 94545 93219 92592 94403 90265 91745 91786 96013 92024
 94513 95354 95926 91340 92614 93291 93292 90703 92025 92010 94534 90720
 91316 91784 95363 95054 95023 93711 95758 93702 94044 90680 95624 93612
 94303 95816 95401 94928 90804 91304 90071 94129 95451 93257 94585 91355
 93730 90716 95690 95148 90503 93449 93535 91343 94531 92591 95062 95131
 92107 95132 92867 95110 94533 95204 92870 95201 91016 92626 93221 95070
 90066 91405 95959 92505 92086 96080 92886 92882 92359 95377 91344 94587
 93529 95138 90045 92264 94123 94110 92127 94087 92116 93101 94514 94954
 94404 90094 90660 90651 90245 93933 90717 95691 93232 91040 93230 94401
 93003 92804 91910 92104 94134 91710 96001 92037 92865 94607 91335 95014
 90404 90040 90401 93534 92069 94941 95991 93704 95762 93247 91306 90222
 94903 91204 91352 94107 90240 92625 93940 90620 92860 95008 90807 93638
 91324 94116 95757 94506 95111 91101 95620 90069 94521 93706 93710 92891
 92821 96161 95116 90044 91792 93105 95834 90277 90605 94086 90068 95351
 92632 90502 94560 92253 91367 92019 91104 92114 95120 95161 92647 90501
 95648 95501 92606 95403 90746 93921 92543 92021 90292 94568 95382 92557
 95641 92344 90007 91706 90254 95650 93458 90057 95765 94597 92685 95610
 90831 94547 93551 92123 91913 94114 93410 94590 90015 91722 93401 91744
 94030 94947 91406 90065 90230 95035 94118 95125 91729 95823 92595 94511
 92694 92065 92618 93510 95966 93001 91423 93923 90723 95828 91917 95307
 90731 90405 94804 92121 92399 93455 95358 92335 93277 93536 91206 91739
 92117 92880 92128 90048 95961 92844 90248 91302 95020 94806 94539 94565
 95051 91203 95490 95127 92672 90018 91711 94595 92805 92530 92840 90029
 91701 90745 91331 90802 92014 92129 92866 92008 91746 92122 94538 95220
 93063 95370 94925 91748 94544 92126 92111 95113 94602 93030 95340 91750
 92405 94610 94509 91763 90803 92240 95112 90001 91768 91504 94505 94566
 94618 92683 91605 92139 92324 91107 94502 92705 94551 94703 90043 90008
 95688 92078 93012 95820 92624 93065 94619 95159 95608 91978 92028 94065
 91011 90024 95405 92563 92508 90019 94010 94558 91321 91732 93004 95126
 91436 91041 91723 92345 94609 91361 95482 94109 91042 92707 85008 92003
 91602 91761 94612 92020 92154 96022 90028 95136 90755 90272 95356 90026
 92780 92082 92691 92227 90650 93701 91932 95525 95066 92064 95404 91901
 92675 90301 95661 96093 95129 90278 92054 94501 90744 91752 95076 90302
 92571 92102 90031 92802 95682 93263 90640 92243 95069 93550 92673 92806
 92651 95949 95115 95383 93117 92118 95683 95134 93307 90670 93635 91408
 93240 95376 93309 91320 94507 92315 93308 92360 95472 90638 94014 90034
 91326 95060 95971 94710 93726 92503 91006 93108 95205 95987 92131 95301
 94002 95662 95901 92373 95050 95827 95324 95005 91020 91350 93725 92270
 93561 92105 95006 95833 93304 90221 90042 90232 92391 95713 92835 95133
 95832 90058 92604 92057 92703 92881 95822 94122 91207 91911 91403 90061
 94591 93634 92677 91719 94063 92584 95667 95100 95002 95366 92120 94022
 90260 95684 96002 95993 92316 90003 95207 92706 95632 91307 91765 95660
 95843 94603 93442 91351 92646 93727 90027 93301 94589 94559 90049 90601
 94611 95747 94417 93013 91702 92392 82037 92311 92841 94102 90275 91411
 95219 90037 90290 93036 95315 93312 92124 95437 91770 93022 95407 92397
 91384 92201 93446 94553 90038 91942 92071 95815 93225 91724 93901 95696
 90067 94564 95209 92506 96130 95863 91775 96145 95102 92692 93613 92313
 95350 93306 90250 95492 81301 90022 92277 95817 92620 95118 90017 90623
 95330 93955 92666 91803 92621 93930 92586 90630 95616 91977 93648 94580
 95425 94945 90014 95461 91105 92570 92251 94015 95969 96120 92827 93518
 95135 92075 91915 95841 92782 65757 94949 94019 95215 95368 91001 94991
 93728 93041 90291 93662 91902 92346]

Variable: ICS
Number of unique values: 24
[532420 531210 531312 531390 531320 532299 531311 532111 533110 532230
 532490 532112 532120 532292 532291 532412 531110 531190 531120 532411
 532310 532210 531130 532220]

Variable: ApprovalFY
Number of unique values: 23
[2001 2003 2006 2004 1997 2005 1998 2007 1999 2008 2000 2009 1989 1990
 2010 1991 2011 1992 2002 1993 1994 1995 1996]

Variable: Term
Number of unique values: 170
[ 36  56 240  84 269  22  64  76  60 300  38  62  67  32  34  33   4  50
  61  42  49  53  19  25  28  39 119  68  18  47  57  30  71  29  73  43
 268  11  23  58  63  41  55  78  59  51  54  44 120   7  40   8  20  48
  46  52  72  21  37  65  24 283  35   5   9  45  69   2  90 109 279  70
  66 259  99 220 275  12  98  26 276   1 277  97  75  27   0  93  88 273
 111 101 257  83  82  74 243  31 289 297 287 108 291 288 235 107  95 168
  92  80  85   3  16 110  15 264  89 115 106 301 114 143 102 216  96 155
  94 306 303  91 180  87 104  14 138 272 304 123 228 122 116 305 204 252
 254  13 132 126   6  79  17 205 260 294 208 217  77 192 129 270  86 219
 263 267 290 250 227 248 230 210]

Variable: NoEmp
Number of unique values: 83
[  1  10   6  65   2   5   4  12   8  13  15  22   3  30   7  18  58 345
   9  16  34  80  31  21  20 130  19  24  38 150  14  23  35  11 100   0
  25  50 140  56  36  42  40  28  70  17 113  32  74  67  49 102  27  55
  26  57  47  68  60 600 129 225  85 237  48  75  53  71 244  90 107 110
  39 195 535 220 120 450 327  45 650  88  44]

Variable: NewExist
Number of unique values: 3
[1. 2. 0.]

Variable: CreateJob
Number of unique values: 43
[  0   3   2   7   8   4   1   6  20  13  12   5  69  50   9  21  10  15
  37  30  26  45  11  35  19  60  18 100  23  24  14  17  40 130  16  75
  32  25  22  63  27  28  65]

Variable: RetainedJob
Number of unique values: 62
[  0  65   2   1  20   3   4  18  58  12  13  30   6   5   7   9  16   8
  34  80  31  21  50  10  19  38  15  14  11  23 100  25  56  40  36  24
  42  28  70  17  32  22  35  74  67 102  55  26 150  57 130  60  85  48
  75 244  39 535 220 327  88  44]

Variable: FranchiseCode
Number of unique values: 33
[    1 15710 37481     0 69149  1357 18000 89658 69560 68060 43571 68905
 28233 41298 18160 79897 88407 67219 49952 28236 81800 66450 88905 88902
 26685 10533 10465 68880 78760 33747 44890 15100 87075]

Variable: UrbanRural
Number of unique values: 3
[0 1 2]

Variable: RevLineCr
Number of unique values: 4
['Y' '0' 'N' 'T']

Variable: LowDoc
Number of unique values: 5
['N' 'Y' 'S' 'A' '0']

Variable: DisbursementDate
Number of unique values: 22
[2001 2003 2006 2004 2007 1997 2005 2008 1999 1998 2009 2000 1989 2010
 1990 2002 1991 1992 1993 1994 1995 1996]

Variable: DisbursementGross
Number of unique values: 1180
[ 32812  30000  50000 ... 105766  92502 251150]

Variable: BalanceGross
Number of unique values: 1
[0]

Variable: MIS_Status
Number of unique values: 2
['P I F' 'CHGOFF']

Variable: ChgOffPrinGr
Number of unique values: 613
[      0  247074   35333   47211   29700    9709    4999   50000   16728
    8415   38832    1547   24952   49447   10000   61348   61325   41691
    8469   25000    5897   36562   15000   40000   45000    3955   73426
   20953   64362   44065   48632   49725   48304   33294   34794  230645
   13744    8417   20357   14587   36179   32141   93700   45747   29638
   44496   51609    3783   48904   20000    4299   40042   28987   44239
   19077   39184   38036   43770   23950   70294   70525   19119   29219
   34164   61731   14193   39369   20886   12317   20635   29997   15098
   49000   10500   49500    6030    9867   17840   40977   44467   24400
   19800    9935    9350   40250   31469    9477   20198   49995   14733
   39444   23373   44950    1963   42580    9210   42170    8704   85306
  527577   27308   49091   23403    4476   99318    9900   40704    1580
    8471    5491   27275   24229    6651   94880   46028   24245   22498
    9578   49478  100000   39700   44319   21928   43847   37140    9703
   35000   99500   45818   30573   16557   31833   30588    3533    9830
   22998  181156   90000   23200   94561   85000   20484   22353   30000
   71384  190658   29016   14139   41569   49701   49121   25680    4885
   24320    4466   19999   11599   29630   33314   29843  302116   19954
  102282   34000    9852   24389   48892    4900   49088  150000   29978
   19199   47554    8430   37919   19690   37499   23022   48152   88157
   14340  552478   91904   34999   16414   19974   18534    3596   49256
    5249   10854    9618   19000    7263   62814    9179  169818   24414
   49140   34500   82020    9049   51274   19489   44879   18954   82500
   34450   59149  156200  149780   23199   49021   32999   10392    4763
   49986  351877   46714   44750   23961   10954   80455    9972   10220
  183829    5716    9989   19313   49645   45507   20755  405890    4954
   92524   24221   20689   34421   78098   23709   48842   44959   47648
  493800  219484   21189    9800    6400  776318   34656   49912   83771
   34953   47876  208072   17809   29998  388255   83522   49468    9662
    6000  140529   10283   33000  334176   88462    8296   22592  205202
   29776  189555   23509   34300   16950   49671   49166   23212   46135
   21412   24567  642404   98151   24842   29574   17768   34407   11386
    9920   28579   34406   27550   45099    9519   17798   18011   21529
    9492   75000   33196   36426   47443  126545   33071    6232   12122
   34332  376534    8283   27950    5161    6600   34305   29538   32000
   19660    8165   16437   37750   38978   94526   22499   24998   27686
   37419   25968   35018   33952    9729   80011   19836   47408   26996
  129401   14835   33831   24569   24988   49077   48707   10421   24995
   49753   39615   67000   29275   17702   28509   38975   34133  498800
   24550   98333   16332   31764 1509550   21664    5000   16619 1058672
   43000   24850   49395    7209    8772   12996   49592   28276   22174
    9950   29156   46930   89313   27750   22759  205967   35566   49965
   34173   49803   14999   59743   42787   37875    2415  105173   12562
   44942   12055    9948  348248   45867   98005   36988   49809   34567
   14840   20465   26059    4997   33668   28020   24417   33050   48978
    8909   14659   49503   24634    8702   24780   94617   31159   18075
    4023   49936   18094   23372    9231   48660   46622   47161   20012
   47529   28672  370178   29242   23333   47462   22863   16343   21268
  117631    8828   36524   47461   29181   28835   99000   49915   28821
    9481   19694   11739   16463   22050   27181   13333   12035   22206
    9932    4149  135645   63024   72182  573429   92701   21398    6525
    5833  237180   23426    9733    9645    8933  183645  211800   22990
    9057  398632   62767    7277  103524    4331   96262  191431   32877
  279312   33862    9090   13800   29979    5604   23246   74525   32099
  128378   26503   43029   36650   16251   26260   48193     415   47142
  114474    4805    9549   14977    8432    5164    2242    3928    9209
    1494   38398   34549   20521   31037   75872   16847    4835   49950
    4931  203460    4724   14998   34981  104752   28575    4340    1360
   34327   12790    4894   49750   30567   38985    9576   20993   18441
    5092  290002   37033   47725    5224   44121    8463    6889   36843
   29287  143620   12765   11049    3377   55879    8017  166805   28522
  169122   84575   13066    8159   44843   24500    7159   84172  201962
   21418   43928    5301  586026    6752   67231   19834   26537   28120
   60786  332877   89902   39799   13866   19875   69579   33946  197158
   19962 1255175   30771    4034     161   83203  303096   90440   40336
   24485   76615    3980   53953   23964   24782  634549  125933  229450
  299892  451002   13635   35964   14783   27829   28623   65519   19891
  161873   43654   39944  800054  113898   44973   21110   21729   23594
    9994]

Variable: GrAppv
Number of unique values: 659
[  30000   50000  343000  297500   10000   14000   25000   20000 1000000
   79000  249000   35000  150500  100000   12000   11000   90000  229000
   15000   40000   60000   45000  568000  357000   22000   47900  504000
  557000  394200   28500   75000  914000  302000   31000   52500  150000
 1240000  140000  257000    5000  105000  825000  720000   10800  369000
   24000   74300   12700  669000   25800  952000   10500  500000   65000
    7000  905000   40500   41000   36000 1117000 1067000   49000  200000
   63000  990000 1525000  278400   62000 2000000  360000  320000   28000
  454000  125000    5500  167000  970000   76500   12500  404000   23000
  441000  344000  547000   85000   48000   16000  521538   29600  785000
   27000   33000  475000   70000  791000  590600  531700  250000   32100
   29000  881800  640700  230500  392000  180000  688500  610000  497000
   19000   67500  526000  193200   19300   82500  240000  160000  341000
  120000  104000  580000  481500  300000  134000  286000  165000  724000
   32900  371000 1050000  598000 1003000  716300 1836000 1386000 1329000
  893000   55000  149800  170000  493800  882000    4500    8000 1493000
  271900  658000  120500    6000  251000   76000  612000  804000  540000
  326000  534200  350000   80000  234000 1620000  883000  848000 1060000
    7500  124000  544000  248000  322000  157000 1124000   37000 1029000
  798000  409000  550000 1491000  150800  597000   39000  773000 1400000
   37500   47000  310000  641000  132000  761000  231000  320500   67000
  529000  700000   16500   26000 1944300  450000  216000  148000  108000
 1093000  446000  277000  373100  585000 1025000  156000   17000  542200
  425000  394000  245000  866900  315000  291000  158500  281000  268000
  252200  510800 1799000 1048000  307000  452000  750000  501000 1596200
  318000 1655000 1583000  588000  675000  201000   86400  212400  405000
  297000  364000  365000  910000  526500  708000  575000  296000  308500
  820000   38000   95000  639400 1375000 1682000  771000  130000  460000
  266400  479000   52200  712700  427500  215000   93000 1665000  285000
  243000  252000  255000  936000  235000  115000  803000   49500  212000
  171000  230000  270000  435000  138000 1500000  348000  480000 1556000
  900000  225000  574000  446800  632100 1177500  129000  185000   25200
 1150000  222000  327000  161000  618000  135000 1344400  136500  193000
  126000  688000  594000 1149000  577000  115400  333000  127500  517500
  607000  400000   88000  414000   50300  163000  536000  188000  338000
  440000  229200  125100  751000   24700  205000  701400  220000  306000
  322400  256000  495000  551000  409500  510000  222700  158000  210000
  254500  619000   99000  330000  512000  455000  271800  181000  345000
  260000  545000 2350000  143000  434000  288000   58000  211900  183000
   89000   94000  265500  110000  899000  866800  864000   64700  810000
  168000  862500   97500  626000  726000  428000  256800   96800  375000
  614700  189000  280000   68000  670000  152500  981000  396000  145900
  380000  175000  199598  935000  377500  323000  732000   24400  167300
  283000  148500  712300 1278000  346000  760500  240500  186800  218900
  331000  496000  738700  399000 1333000  762000  191000  374400  925000
  223000  169300  359000  431000  370000   28300  666000  735000   84000
  317000  493400  595000  155000 1170000 1071000 1285000  289000  410500
  412000 1352100  576000  321300 1298000  600000 1300000 1084000  907000
 1250000  145590  153000  183300  182000  625500 1330000  292900  532000
  739500  725000  706100  541000  128000  286800 1450000 1232500  107000
 1200000  562500   16700  807500  763000  420000 1020000  830000  337600
  318700  397000  127000  419000  999000  657000  269000  296200   78000
   19100  366000  290000  298000  294000  151000  422000  508500   56000
  123000  372000  351000 1056200 1015600  204000  145000  427100  484000
  107700   97800 1310000  571500  765000  136000  465000 1264600  335000
   21800  340000  275000  603000   81000    8600  768000  284000  459000
  190000  307500  951000  502000  162000   14300  640000  517000  904000
  395000  337000 1530000   57100  462000  680000  362000   25500  208000
   47800 1385000  589000   18000  477000   50100  426000  620000  207000
  176000  301500  312000  824000  931000  550100  472500  721000  187500
   13200  757000 1001000  314300 1132000  902000  924000  523000  480200
  567000  527000  539100  309000 1467000 1656500 1080000 1423700  269200
 1030100  144000  305000  461000  463500  429000  621000  195000  273000
 1340000 1899500   98000  401000  302400  661000  665000  505000  410000
  403700  131000  336000  186000  652000  239000  169000  456000  549000
 1440000  244836  221164  639000  253000   96000  178000  667000  704000
  388000  218300  227000  336500  321000 1512000 1257000   31833  238000
  119500  519000 1999000  711000  593000  325000 1027000 1476000  962900
  853000  752000  179000  833000  770000  360100  988000  228000 1147500
  659000  679000  378000  427000 1059000 1350000  790000  221000  264000
  433000  658500  604000  950000  247000  550800 1073000 1046000  912000
 1152000  271000  261900  502200  370800  697500  832500  152000  511700
  172500  855000  650000  172000 1343000  444000 1435000 1215000   23500
   64000   21000]

Variable: SBA_Appv
Number of unique values: 754
[  15000   25000  343000  223125    5000    7000   12500   10000  750000
   79000  249000   17500  112875   50000    6000    5500   72000  229000
    7500   20000   30000   80000   22500  568000  357000   11000   23950
  378000   45000   40000  557000  295650   14250   37500  914000  226500
   15500   26250   75000  930000   70000   85000  192750    2500  105000
  618750  540000    9180  276750   12000   37150    6350  669000   12900
  714000    5250  375000   32500    3500  905000   20250   21250   20500
   18000 1117000  800250   24500  100000   31500  742500   78750 1143750
   42500  208800   31000 1500000  270000  240000   14000  454000  106250
    2750  167000  727500   65025   10625    8500  404000   11500  330750
  344000  547000   24000    8000  391153   14800   12750  150000  785000
   13500   16500    4250   89250  475000   59500  593250   48000  442950
  398775  187500   16050  127500   14500  661350    6250  480525  172875
  392000  135000  516375  457500   17000  497000    9500   57375  394500
  144900    9650   41250  180000  120000  341000   90000   41600  580000
  361125  225000  100500  286000  165000  724000   16450  371000  749994
  598000 1003000  537225 1836000 1386000  996750  893000   27500  127330
  370350  661500    2250    4000 1119750  203925  493500   90375    3000
  188250   60800  459000  804000  405000  244500  400650  262500  234000
 1620000  883000  848000  795000    6375   93000  544000  248000  322000
  157000 1124000   18500 1029000  798000  409000  412500 1491000  113100
  597000   19500  773000   29750 1050000   18750   23500  310000  641000

The 'BalanceGross' variable has only one unique value (0) so we will remove it.

In [18]:
df.drop(columns = ['BalanceGross'], inplace = True)

We will encode some of our categorical variables for modeling.

In [19]:
df['RevLineCr'] = df['RevLineCr'].replace({'Y' : '1', 'N' : '2', 'T' : '3'})
df['LowDoc'] = df['LowDoc'].replace({'N' : '1', 'Y' : '2', 'S' : '3', 'A' : '4'})
df['MIS_Status'] = df['MIS_Status'].replace({'P I F' : '0', 'CHGOFF' : '1'})

df.head()

,Zip,ICS,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,92801,532420,2001,36,1,1.0,0,0,1,0,1,1,2001,32812,0,0,30000,15000
1,90505,531210,2001,56,1,1.0,0,0,1,0,1,1,2003,30000,0,0,30000,15000
2,92103,531210,2001,36,10,1.0,0,0,1,0,1,1,2001,30000,0,0,30000,15000
3,92108,531312,2003,36,6,1.0,0,0,1,0,1,1,2003,50000,0,0,50000,25000
4,91345,531390,2006,240,65,1.0,3,65,1,1,0,1,2006,343000,0,0,343000,343000

In [20]:
# changing the variable data types to their appropriate formats
to_obj = ['Zip', 'ICS', 'ApprovalFY', 'NewExist', 'FranchiseCode', 'UrbanRural', 'DisbursementDate']

for item in to_obj:
    df[item] = df[item].astype('object')
    
# confirming our data types have been appropriately modified
df.dtypes

Zip                  object
ICS                  object
ApprovalFY           object
Term                  int64
NoEmp                 int64
NewExist             object
CreateJob             int64
RetainedJob           int64
FranchiseCode        object
UrbanRural           object
RevLineCr            object
LowDoc               object
DisbursementDate     object
DisbursementGross     int64
MIS_Status           object
ChgOffPrinGr          int64
GrAppv                int64
SBA_Appv              int64
dtype: object

There are no other anomalies or inconsistencies with the data so we will now move on to analysis.

In [23]:
df.to_csv('kopokopo_clean.csv', index = False)

df = pd.read_csv('kopokopo_clean.csv')
df.head()

,Zip,ICS,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementDate,DisbursementGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,92801,532420,2001,36,1,1.0,0,0,1,0,1,1,2001,32812,0,0,30000,15000
1,90505,531210,2001,56,1,1.0,0,0,1,0,1,1,2003,30000,0,0,30000,15000
2,92103,531210,2001,36,10,1.0,0,0,1,0,1,1,2001,30000,0,0,30000,15000
3,92108,531312,2003,36,6,1.0,0,0,1,0,1,1,2003,50000,0,0,50000,25000
4,91345,531390,2006,240,65,1.0,3,65,1,1,0,1,2006,343000,0,0,343000,343000

# <font color='#2F4F4F'>3. Data Analysis</font>

Because there are too many variables to carry out individual univariate and bivariate analysis, we will use Pandas Profiling to generate a report for this section.

In [24]:
import pandas_profiling

df.profile_report()

AttributeError: ignored

In [26]:
df.head()

,Zip,ICS,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,DisbursementGross,MIS_Status,ChgOffPrinGr
0,92801,532420,2001,36,1,1.0,0,0,1,0,1,1,32812,0,0
1,90505,531210,2001,56,1,1.0,0,0,1,0,1,1,30000,0,0
2,92103,531210,2001,36,10,1.0,0,0,1,0,1,1,30000,0,0
3,92108,531312,2003,36,6,1.0,0,0,1,0,1,1,50000,0,0
4,91345,531390,2006,240,65,1.0,3,65,1,1,0,1,343000,0,0

From the report, we can note the following correlations:
- DisbursementDate is highly correlated with ApprovalFY
- ApprovalFY is highly correlated with DisbursementDate and SBA_Appv
- GrAppv is highly correlated with DisbursementGross and SBA_Appv
- DisbursementGross is highly correlated with GrAppv and SBA_Appv
- SBA_Appv is highly correlated with DisbursementGross and GrAppv

We will remove DisbursementDate, GrAppv, and SBA_Appv.

In [41]:
df.drop(columns = ['DisbursementDate', 'GrAppv', 'SBA_Appv'], inplace = True)

KeyError: ignored

# <font color='#2F4F4F'>4. Data Modeling</font>

In [42]:
# split into features (X) and target (Y)
X = df.iloc[:, 0:13].values  # Independent variables
y = df.iloc[:, 13].values          # Dependent variable
print(y)

[0 0 0 ... 0 0 0]

In [43]:
# splitting into 75-25 training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [44]:
# scaling our features
from sklearn.preprocessing import MinMaxScaler  
norm = MinMaxScaler().fit(X_train) 
X_train = norm.transform(X_train) 
X_test = norm.transform(X_test)

In [53]:
# fit the classifiers to the training data and make predictions on the test set

# Logistic Regression
from sklearn.linear_model import LogisticRegression
logistic_classifier = LogisticRegression()

# Decision Tree 
from sklearn.tree import DecisionTreeClassifier
decision_classifier = DecisionTreeClassifier()

# Support Vector Machine
from sklearn.svm import SVC
svm_classifier = SVC()

# Naive Bayes
from sklearn.naive_bayes import GaussianNB
naive_classifier = GaussianNB()

# K-Neighbors
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier()

# Bagging
from sklearn.ensemble import BaggingClassifier
bagging_classifier = BaggingClassifier()

# Random Forest
from sklearn.ensemble import RandomForestClassifier
random_forest_classifier = RandomForestClassifier()

# Ada Boosting
from sklearn.ensemble import AdaBoostClassifier
adaboost=AdaBoostClassifier()

# Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
gradient_boost = GradientBoostingClassifier()

# XG Boosting
from xgboost import XGBClassifier
xgb_classifier = XGBClassifier()

In [55]:
# evaluating the classification reports and confusion matrices of each classifier
from sklearn.metrics import classification_report, confusion_matrix

# Logistic Regression
logistic_classifier.fit(X_train, y_train)

# Decision Tree
decision_classifier.fit(X_train, y_train)

# Support Vector Machine
svm_classifier.fit(X_train, y_train)

# Naive Bayes
naive_classifier.fit(X_train, y_train)

# K-Neighbors
knn_classifier.fit(X_train, y_train)

# Bagging
bagging_classifier.fit(X_train, y_train)

# Random Forest
random_forest_classifier.fit(X_train, y_train)

# Ada Boosting
adaboost.fit(X_train, y_train)

# Gradient Boosting
gradient_boost.fit(X_train, y_train)

# XG Boosting
xgb_classifier.fit(X_train, y_train)

XGBClassifier()

In [60]:
# Testing the models
logistic_y_prediction = logistic_classifier.predict(X_test) 
decision_y_prediction = decision_classifier.predict(X_test) 
svm_y_prediction = svm_classifier.predict(X_test) 
naive_y_prediction = naive_classifier.predict(X_test)
knn_y_prediction = knn_classifier.predict(X_test) 
bagging_y_prediction = bagging_classifier.predict(X_test)
random_forest_y_prediction = random_forest_classifier.predict(X_test)
adaboost_y_prediction = adaboost.predict(X_test)
gradient_y_prediction = gradient_boost.predict(X_test)
x_gb_y_prediction = xgb_classifier.predict(X_test)

In [61]:
# Accuracy scores
from sklearn.metrics import classification_report, accuracy_score 


print(accuracy_score(logistic_y_prediction, y_test))
print(accuracy_score(decision_y_prediction, y_test))
print(accuracy_score(svm_y_prediction, y_test))
print(accuracy_score(knn_y_prediction, y_test))
print(accuracy_score(naive_y_prediction, y_test))
print(accuracy_score(bagging_y_prediction, y_test))
print(accuracy_score(random_forest_y_prediction, y_test))
print(accuracy_score(adaboost_y_prediction, y_test))
print(accuracy_score(gradient_y_prediction, y_test))
print(accuracy_score(x_gb_y_prediction, y_test))

0.8454198473282443
0.9122137404580153
0.8912213740458015
0.8912213740458015
0.6774809160305344
0.9255725190839694
0.9312977099236641
0.9370229007633588
0.9561068702290076
0.9484732824427481

In [58]:
# Confusion matrix
from sklearn.metrics import confusion_matrix 
 
print('Logistic Regression classifier:')
print(confusion_matrix(logistic_y_prediction, y_test))

print('Decision Tree classifier:')
print(confusion_matrix(decision_y_prediction, y_test))

print('KNN Classifier:')
print(confusion_matrix(knn_y_prediction, y_test))

print('SVM classifier:')
print(confusion_matrix(svm_y_prediction, y_test))

print('Naive Bayes classifier:')
print(confusion_matrix(naive_y_prediction, y_test))

Logistic Regression classifier:
[[315  35]
 [ 46 128]]
Decision Tree classifier:
[[339  24]
 [ 22 139]]
KNN Classifier:
[[336  32]
 [ 25 131]]
SVM classifier:
[[335  31]
 [ 26 132]]
Naive Bayes classifier:
[[210  18]
 [151 145]]

# <font color='#2F4F4F'>5. Summary of Findings</font>

What can you conclude?

In [ ]:
# Highest accuracy recorded on bagging and boosting models

# <font color='#2F4F4F'>6. Recommendations</font>

What recommendations can you provide?

# <font color='#2F4F4F'>7. Challenging your Solution</font>

#### a) Did we have the right question?


#### b) Did we have the right data?

#### c) What can be done to improve the solution?

### 7.1 Improving the Solution

We will try cross validation and K-Folds cross validation in an attempt to improve our models.

#### 7.1.1 Cross Validation

In [62]:
from sklearn.model_selection import cross_val_score as cvs

log_scores = cvs(log, X, y, cv = 3)
print("Logistic Regression CV scores:", log_scores)

tree_scores = cvs(tree, X, y, cv = 3)
print("Decision Tree CV scores:", tree_scores)

svm_scores = cvs(svm, X, y, cv = 3)
print("Support Vector Machine CV scores:", svm_scores)

nb_scores = cvs(nb, X, y, cv = 3)
print("Naive Bayes CV scores:", nb_scores)

knn_scores = cvs(knn, X, y, cv = 3)
print("K-Neighbors CV scores:", knn_scores)

bag_scores = cvs(bag, X, y, cv = 3)
print("Bagging CV scores:", bag_scores)

rf_scores = cvs(rf, X, y, cv = 3)
print("Random Forest CV scores:", rf_scores)

ada_scores = cvs(ada, X, y, cv = 3)
print("Ada Boosting CV scores:", ada_scores)

grad_scores = cvs(grad, X, y, cv = 3)
print("Gradient Boosting CV scores:", grad_scores)

xgb_scores = cvs(xgb, X, y, cv = 3)
print("XG Boosting CV scores:", xgb_scores)

NameError: ignored

#### 7.1.2 K-Folds Cross Validation

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

# applying KFold with 3 splits onto our features
kf3 = KFold(n_splits = 3, shuffle = True)
kf3.split(X)

print("We are using " + str(kf3.get_n_splits(X)) + " folds.\n")

model_count = 1 # to keep track of the model we are working with

# creating training and test sets using these folds
for train_index, test_index in kf3.split(X):
    print("Training fold", model_count)
    
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    log.fit(X_train, y_train)
    log_pred = log.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Linear Regression Confusion Matrix:\n", confusion_matrix(y_test, log_pred))
    print("Accuracy:", accuracy_score(y_test, log_pred))
    print()
    
    tree.fit(X_train, y_train)
    tree_pred = tree.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Decision Tree Confusion Matrix:\n", confusion_matrix(y_test, tree_pred))
    print("Accuracy:", accuracy_score(y_test, tree_pred))
    print()
    
    svm.fit(X_train, y_train)
    svm_pred = svm.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Support Vector Machine Confusion Matrix:\n", confusion_matrix(y_test, svm_pred))
    print("Accuracy:", accuracy_score(y_test, svm_pred))
    print()
    
    nb.fit(X_train, y_train)
    nb_pred = nb.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Naive Bayes Confusion Matrix:\n", confusion_matrix(y_test, nb_pred))
    print("Accuracy:", accuracy_score(y_test, nb_pred))
    print()
    
    knn.fit(X_train, y_train)
    knn_pred = knn.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("K-Neighbors Confusion Matrix:\n", confusion_matrix(y_test, knn_pred))
    print("Accuracy:", accuracy_score(y_test, knn_pred))
    print()
    
    bag.fit(X_train, y_train)
    bag_pred = bag.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Bagging Confusion Matrix:\n", confusion_matrix(y_test, bag_pred))
    print("Accuracy:", accuracy_score(y_test, bag_pred))
    print()
    
    rf.fit(X_train, y_train)
    rf_pred = rf.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Random Forest Confusion Matrix:\n", confusion_matrix(y_test, rf_pred))
    print("Accuracy:", accuracy_score(y_test, rf_pred))
    print()
    
    ada.fit(X_train, y_train)
    ada_pred = ada.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Ada Boosting Confusion Matrix:\n", confusion_matrix(y_test, ada_pred))
    print("Accuracy:", accuracy_score(y_test, ada_pred))
    print()
    
    grad.fit(X_train, y_train)
    grad_pred = grad.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("Gradient Boosting Confusion Matrix:\n", confusion_matrix(y_test, grad_pred))
    print("Accuracy:", accuracy_score(y_test, grad_pred))
    print()
    
    xgb.fit(X_train, y_train)
    xgb_pred = xgb.predict(X_test)
    print("Assessing accuracy of model", model_count)
    print("XG Boosting Confusion Matrix:\n", confusion_matrix(y_test, xgb_pred))
    print("Accuracy:", accuracy_score(y_test, xgb_pred))
    print()
    
    model_count += 1

We are using 3 folds.

Training fold 1
Assessing accuracy of model 1
Linear Regression Confusion Matrix:
 [[480   4]
 [  8 206]]
Accuracy: 0.9828080229226361

Assessing accuracy of model 1
Decision Tree Confusion Matrix:
 [[480   4]
 [  4 210]]
Accuracy: 0.9885386819484241

Assessing accuracy of model 1
Support Vector Machine Confusion Matrix:
 [[484   0]
 [ 87 127]]
Accuracy: 0.8753581661891118

Assessing accuracy of model 1
Naive Bayes Confusion Matrix:
 [[481   3]
 [  2 212]]
Accuracy: 0.9928366762177651

Assessing accuracy of model 1
K-Neighbors Confusion Matrix:
 [[481   3]
 [ 10 204]]
Accuracy: 0.9813753581661891

Assessing accuracy of model 1
Bagging Confusion Matrix:
 [[480   4]
 [  2 212]]
Accuracy: 0.9914040114613181

Assessing accuracy of model 1
Random Forest Confusion Matrix:
 [[480   4]
 [  2 212]]
Accuracy: 0.9914040114613181

Assessing accuracy of model 1
Ada Boosting Confusion Matrix:
 [[480   4]
 [  4 210]]
Accuracy: 0.9885386819484241

Assessing accuracy of model 1
Gradient Boosting Confusion Matrix:
 [[480   4]
 [  2 212]]
Accuracy: 0.9914040114613181

Assessing accuracy of model 1
XG Boosting Confusion Matrix:
 [[480   4]
 [  3 211]]
Accuracy: 0.9899713467048711

Training fold 2
Assessing accuracy of model 2
Linear Regression Confusion Matrix:
 [[468   3]
 [  5 222]]
Accuracy: 0.9885386819484241

Assessing accuracy of model 2
Decision Tree Confusion Matrix:
 [[468   3]
 [  1 226]]
Accuracy: 0.994269340974212

Assessing accuracy of model 2
Support Vector Machine Confusion Matrix:
 [[471   0]
 [ 90 137]]
Accuracy: 0.8710601719197708

Assessing accuracy of model 2
Naive Bayes Confusion Matrix:
 [[468   3]
 [  2 225]]
Accuracy: 0.9928366762177651

Assessing accuracy of model 2
K-Neighbors Confusion Matrix:
 [[468   3]
 [  9 218]]
Accuracy: 0.9828080229226361

Assessing accuracy of model 2
Bagging Confusion Matrix:
 [[468   3]
 [  0 227]]
Accuracy: 0.995702005730659

Assessing accuracy of model 2
Random Forest Confusion Matrix:
 [[468   3]
 [  0 227]]
Accuracy: 0.995702005730659

Assessing accuracy of model 2
Ada Boosting Confusion Matrix:
 [[468   3]
 [  2 225]]
Accuracy: 0.9928366762177651

Assessing accuracy of model 2
Gradient Boosting Confusion Matrix:
 [[468   3]
 [  1 226]]
Accuracy: 0.994269340974212

Assessing accuracy of model 2
XG Boosting Confusion Matrix:
 [[468   3]
 [  2 225]]
Accuracy: 0.9928366762177651

Training fold 3
Assessing accuracy of model 3
Linear Regression Confusion Matrix:
 [[450   3]
 [  1 243]]
Accuracy: 0.994261119081779

Assessing accuracy of model 3
Decision Tree Confusion Matrix:
 [[450   3]
 [  4 240]]
Accuracy: 0.9899569583931134

Assessing accuracy of model 3
Support Vector Machine Confusion Matrix:
 [[453   0]
 [ 92 152]]
Accuracy: 0.8680057388809183

Assessing accuracy of model 3
Naive Bayes Confusion Matrix:
 [[415  38]
 [  0 244]]
Accuracy: 0.945480631276901

Assessing accuracy of model 3
K-Neighbors Confusion Matrix:
 [[450   3]
 [  9 235]]
Accuracy: 0.9827833572453372

Assessing accuracy of model 3
Bagging Confusion Matrix:
 [[450   3]
 [  1 243]]
Accuracy: 0.994261119081779

Assessing accuracy of model 3
Random Forest Confusion Matrix:
 [[450   3]
 [  0 244]]
Accuracy: 0.9956958393113343

Assessing accuracy of model 3
Ada Boosting Confusion Matrix:
 [[450   3]
 [  2 242]]
Accuracy: 0.9928263988522238

Assessing accuracy of model 3
Gradient Boosting Confusion Matrix:
 [[450   3]
 [  0 244]]
Accuracy: 0.9956958393113343

Assessing accuracy of model 3
XG Boosting Confusion Matrix:
 [[450   3]
 [  0 244]]
Accuracy: 0.9956958393113343